@{
    ViewData["Title"] = "DoodleLike - Home";
}

<h1 class="text-center">DoodleLike</h1>

<div class="list-group">
    <a href="~/Meeting/Create" class="list-group-item list-group-item-action">Create Meeting</a>
    <a href="~/Home/PastMeetings" class="list-group-item list-group-item-action">Past Meetings</a>
    <a href="~/Home/FutureMeetings" class="list-group-item list-group-item-action">Future Meetings</a>
    <a href="~/Home/OngoingMeetings" class="list-group-item list-group-item-action">Ongoing Meetings</a>
</div>
