@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DoodleLike</h1>
    <p>DoodleLike is an online platform that simplifies the process of organizing meetings or events. With its user-friendly interface, it allows users to create meetings, vote on preferred dates, and easily manage the scheduling process.</p>
    <p>To get started, <a href="/Access/Login">login</a> to your account or <a href="/Access/Register">register</a> if you're new to DoodleLike.</p>
    <p>Learn more about how to use DoodleLike to organize your events efficiently and effortlessly.</p>
</div>
